/**
 * Typography
 */
:root {
  /* font family */
  --font-family-default: 'Geist', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-accent: 'MMSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-hero: 'MMPoly', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* font sizes */
  --font-size-base: 16px;
  --font-size-1: 0.625rem;
  --font-size-2: 0.75rem;
  --font-size-3: 0.875rem;
  --font-size-4: 1rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1.5rem;
  --font-size-7: 2rem;
  --font-size-8: 2.5rem;
  --font-size-9: 3rem;
  --font-size-10: 3.75rem;
  /* line heights */
  --line-height-1: 1rem;
  --line-height-2: 1.25rem;
  --line-height-3: 1.375rem;
  --line-height-4: 1.5rem;
  --line-height-5: 2rem;
  --line-height-6: 2.5rem;
  --line-height-7: 3.125rem;
  --line-height-8: 3.5rem;
  --line-height-9: 4.6875rem;
  /* font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  /* letter spacing */
  --letter-spacing-0: 0;
  --letter-spacing-1: 2.5%;
  /* typography scale small screen */
  --typography-s-display-lg-font-size: var(--font-size-8);
  --typography-s-display-lg-line-height: var(--line-height-7);
  --typography-s-display-lg-font-weight: var(--font-weight-bold);
  --typography-s-display-lg-letter-spacing: var(--letter-spacing-0);
  --typography-s-display-md-font-size: var(--font-size-7);
  --typography-s-display-md-line-height: var(--line-height-6);
  --typography-s-display-md-font-weight: var(--font-weight-bold);
  --typography-s-display-md-letter-spacing: var(--letter-spacing-0);
  --typography-s-heading-lg-font-size: var(--font-size-6);
  --typography-s-heading-lg-line-height: var(--line-height-5);
  --typography-s-heading-lg-font-weight: var(--font-weight-bold);
  --typography-s-heading-lg-letter-spacing: var(--letter-spacing-0);
  --typography-s-heading-md-font-size: var(--font-size-5);
  --typography-s-heading-md-line-height: var(--line-height-4);
  --typography-s-heading-md-font-weight: var(--font-weight-bold);
  --typography-s-heading-md-letter-spacing: var(--letter-spacing-0);
  --typography-s-heading-sm-font-size: var(--font-size-4);
  --typography-s-heading-sm-line-height: var(--line-height-4);
  --typography-s-heading-sm-font-weight: var(--font-weight-bold);
  --typography-s-heading-sm-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-lg-medium-font-size: var(--font-size-5);
  --typography-s-body-lg-medium-line-height: var(--line-height-4);
  --typography-s-body-lg-medium-font-weight: var(--font-weight-medium);
  --typography-s-body-lg-medium-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-lg-regular-font-size: var(--font-size-5);
  --typography-s-body-lg-regular-line-height: var(--line-height-4);
  --typography-s-body-lg-regular-font-weight: var(--font-weight-medium);
  --typography-s-body-lg-regular-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-md-bold-font-size: var(--font-size-4);
  --typography-s-body-md-bold-line-height: var(--line-height-4);
  --typography-s-body-md-bold-font-weight: var(--font-weight-bold);
  --typography-s-body-md-bold-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-md-medium-font-size: var(--font-size-4);
  --typography-s-body-md-medium-line-height: var(--line-height-4);
  --typography-s-body-md-medium-font-weight: var(--font-weight-medium);
  --typography-s-body-md-medium-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-md-font-size: var(--font-size-4);
  --typography-s-body-md-line-height: var(--line-height-4);
  --typography-s-body-md-font-weight: var(--font-weight-regular);
  --typography-s-body-md-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-sm-bold-font-size: var(--font-size-3);
  --typography-s-body-sm-bold-line-height: var(--line-height-3);
  --typography-s-body-sm-bold-font-weight: var(--font-weight-bold);
  --typography-s-body-sm-bold-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-sm-medium-font-size: var(--font-size-3);
  --typography-s-body-sm-medium-line-height: var(--line-height-3);
  --typography-s-body-sm-medium-font-weight: var(--font-weight-medium);
  --typography-s-body-sm-medium-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-sm-font-size: var(--font-size-3);
  --typography-s-body-sm-line-height: var(--line-height-3);
  --typography-s-body-sm-font-weight: var(--font-weight-regular);
  --typography-s-body-sm-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-xs-medium-font-size: var(--font-size-2);
  --typography-s-body-xs-medium-line-height: var(--line-height-2);
  --typography-s-body-xs-medium-font-weight: var(--font-weight-medium);
  --typography-s-body-xs-medium-letter-spacing: var(--letter-spacing-1);
  --typography-s-body-xs-font-size: var(--font-size-2);
  --typography-s-body-xs-line-height: var(--line-height-2);
  --typography-s-body-xs-font-weight: var(--font-weight-regular);
  --typography-s-body-xs-letter-spacing: var(--letter-spacing-1);
  --typography-s-page-heading-font-size: var(--font-size-6);
  --typography-s-page-heading-line-height: var(--line-height-5);
  --typography-s-page-heading-font-weight: var(--font-weight-bold);
  --typography-s-page-heading-letter-spacing: var(--letter-spacing-0);
  --typography-s-section-heading-font-size: var(--font-size-5);
  --typography-s-section-heading-line-height: var(--line-height-4);
  --typography-s-section-heading-font-weight: var(--font-weight-bold);
  --typography-s-section-heading-letter-spacing: var(--letter-spacing-0);
  --typography-s-button-label-md-font-size: var(--font-size-4);
  --typography-s-button-label-md-line-height: var(--line-height-4);
  --typography-s-button-label-md-font-weight: var(--font-weight-medium);
  --typography-s-button-label-md-letter-spacing: var(--letter-spacing-0);
  --typography-s-button-label-lg-font-size: var(--font-size-5);
  --typography-s-button-label-lg-line-height: var(--line-height-4);
  --typography-s-button-label-lg-font-weight: var(--font-weight-medium);
  --typography-s-button-label-lg-letter-spacing: var(--letter-spacing-0);
  --typography-s-amount-display-lg-font-size: var(--font-size-8);
  --typography-s-amount-display-lg-line-height: var(--line-height-7);
  --typography-s-amount-display-lg-font-weight: var(--font-weight-bold);
  --typography-s-amount-display-lg-letter-spacing: var(--letter-spacing-0);

  /* typography scale large screen */
  --typography-l-display-lg-font-size: var(--font-size-10);
  --typography-l-display-lg-line-height: var(--line-height-9);
  --typography-l-display-lg-font-weight: var(--font-weight-medium);
  --typography-l-display-lg-letter-spacing: var(--letter-spacing-0);
  --typography-l-display-md-font-size: var(--font-size-9);
  --typography-l-display-md-line-height: var(--line-height-8);
  --typography-l-display-md-font-weight: var(--font-weight-medium);
  --typography-l-display-md-letter-spacing: var(--letter-spacing-0);
  --typography-l-heading-lg-font-size: var(--font-size-7);
  --typography-l-heading-lg-line-height: var(--line-height-6);
  --typography-l-heading-lg-font-weight: var(--font-weight-bold);
  --typography-l-heading-lg-letter-spacing: var(--letter-spacing-0);
  --typography-l-heading-md-font-size: var(--font-size-6);
  --typography-l-heading-md-line-height: var(--line-height-5);
  --typography-l-heading-md-font-weight: var(--font-weight-bold);
  --typography-l-heading-md-letter-spacing: var(--letter-spacing-0);
  --typography-l-heading-sm-font-size: var(--font-size-5);
  --typography-l-heading-sm-line-height: var(--line-height-4);
  --typography-l-heading-sm-font-weight: var(--font-weight-bold);
  --typography-l-heading-sm-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-lg-medium-font-size: var(--font-size-5);
  --typography-l-body-lg-medium-line-height: var(--line-height-4);
  --typography-l-body-lg-medium-font-weight: var(--font-weight-medium);
  --typography-l-body-lg-medium-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-md-bold-font-size: var(--font-size-4);
  --typography-l-body-md-bold-line-height: var(--line-height-4);
  --typography-l-body-md-bold-font-weight: var(--font-weight-bold);
  --typography-l-body-md-bold-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-md-medium-font-size: var(--font-size-4);
  --typography-l-body-md-medium-line-height: var(--line-height-4);
  --typography-l-body-md-medium-font-weight: var(--font-weight-medium);
  --typography-l-body-md-medium-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-md-font-size: var(--font-size-4);
  --typography-l-body-md-line-height: var(--line-height-4);
  --typography-l-body-md-font-weight: var(--font-weight-regular);
  --typography-l-body-md-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-sm-bold-font-size: var(--font-size-3);
  --typography-l-body-sm-bold-line-height: var(--line-height-3);
  --typography-l-body-sm-bold-font-weight: var(--font-weight-bold);
  --typography-l-body-sm-bold-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-sm-medium-font-size: var(--font-size-3);
  --typography-l-body-sm-medium-line-height: var(--line-height-3);
  --typography-l-body-sm-medium-font-weight: var(--font-weight-medium);
  --typography-l-body-sm-medium-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-sm-font-size: var(--font-size-3);
  --typography-l-body-sm-line-height: var(--line-height-3);
  --typography-l-body-sm-font-weight: var(--font-weight-regular);
  --typography-l-body-sm-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-xs-medium-font-size: var(--font-size-2);
  --typography-l-body-xs-medium-line-height: var(--line-height-2);
  --typography-l-body-xs-medium-font-weight: var(--font-weight-medium);
  --typography-l-body-xs-medium-letter-spacing: var(--letter-spacing-1);
  --typography-l-body-xs-font-size: var(--font-size-2);
  --typography-l-body-xs-line-height: var(--line-height-2);
  --typography-l-body-xs-font-weight: var(--font-weight-regular);
  --typography-l-body-xs-letter-spacing: var(--letter-spacing-1);
  --typography-l-page-heading-font-size: var(--font-size-7);
  --typography-l-page-heading-line-height: var(--line-height-6);
  --typography-l-page-heading-font-weight: var(--font-weight-bold);
  --typography-l-page-heading-letter-spacing: var(--letter-spacing-0);
  --typography-l-section-heading-font-size: var(--font-size-6);
  --typography-l-section-heading-line-height: var(--line-height-5);
  --typography-l-section-heading-font-weight: var(--font-weight-bold);
  --typography-l-section-heading-letter-spacing: var(--letter-spacing-0);
  --typography-l-button-label-md-font-size: var(--font-size-4);
  --typography-l-button-label-md-line-height: var(--line-height-4);
  --typography-l-button-label-md-font-weight: var(--font-weight-medium);
  --typography-l-button-label-md-letter-spacing: var(--letter-spacing-0);
  --typography-l-button-label-lg-font-size: var(--font-size-5);
  --typography-l-button-label-lg-line-height: var(--line-height-4);
  --typography-l-button-label-lg-font-weight: var(--font-weight-medium);
  --typography-l-button-label-lg-letter-spacing: var(--letter-spacing-0);
  --typography-l-amount-display-lg-font-size: var(--font-size-10);
  --typography-l-amount-display-lg-line-height: var(--line-height-9);
  --typography-l-amount-display-lg-font-weight: var(--font-weight-medium);
  --typography-l-amount-display-lg-letter-spacing: var(--letter-spacing-0);
}
